_ReSharper.*
*.DotSettings.user
*.vsix
*.suo
*.cache
*.user
*.userprefs
*.bak
*.orig
*.pdb
*.log
*.nupkg
*.snupkg
*~
.vs/
_UpgradeReport_Files/
Backup*/
UpgradeLog*.xml
UpgradeLog*.htm
.vscode/
.idea/
.tmp/
obj/
bin/
TestResult.xml
contrib/*
packages/*
packages-build/*
.nuget/nuget.exe
PrecompiledWeb
!test/Testfiles/**
_site/
node_modules/
test-results/
test-binaries/
launchSettings.json
published-build-script.zip

# Do not ignore all interop libraries to track them with git lfs
!**/x64/**
!**/x86/**

tools/*
!tools/packages.config

*.trx

BenchmarkDotNet.Artifacts/
